@import url('base.css');
/* 头部开始 */
.head-box{
	width: 1100px;
	height: 120px;
	padding: 28px 40px;
	margin: 0 auto;
}
.headleft{
	width:70px;
	height:70px;
	float: left;

}
.headleft img{
	width:100%;
	height:100%;
}
.xian{
	height: 60px;
	width: 1px;
	background: #666666;
	float: left;
	margin:0 80px;
}
.head-box a{
	display: block;
	float: left;
	width:120px;
	height: 50px;
	padding: 10px 0;
	border-radius: 50%;
	margin-right: 40px;
}
.head-box a:last-of-type{
	margin-right: 0;
}
.head-box a p{
	width: 120px;
	font-size: 16px;
	color: #666666;
	line-height: 30px;
	text-align: center;
	font-weight: 900;
	background: #fff;
	
}
.head-box a:hover{
	color: #e87193;
	background: pink;
}
/* 头部结束 */
/* banner开始 */
.ban-box{
	width: 100%;
	height: 100%;
	
}
.ban-box img{
	width: 100%;
	height: 100%;
    display: block;
}

/* banner结束 */
/* 介绍开始 */
.jie-box{
	width: 100%;
	height: 700px;
}
.jiebox{
	width: 1100px;
	height: 500px;
	margin: 0 auto;
}
.jie{
	width:200px;
	height: 24px;
	margin: 0 auto;
	margin-top: 60px;
	
}
.jie p{
	float: left;
	font-size: 16px;
	color:rgb(143, 98, 40);
	font-weight: 800;
	margin-left: 40px;
	margin-right: 40px;
}
.jie img{
	float: left;

}
.jie img:first-of-type{
	transform: rotateY(180deg);
}
.jie-bottom{
	width:1100px;
	height: 300px;
	margin: 0 auto;
	margin-top: 50px;
}
.jie-left{
	width: 529px;
	height: 291px;
    float: left;
}
.jie-right{
	width: 547px;
	height: 291px;
	float: right;
	padding-top: 20px;
}
.jie-right p{
	font-size: 14px;
	line-height: 20px;
    color: rgb(68, 68, 68);
}
.jie-bottom1{
	width:1100px;
	height: 300px;
	margin: 0 auto;
	margin-top: 20px;
}
.jie-left1{
	width: 547px;
	height: 291px;
	padding-top: 20px;
    float: left;
}
.jie-right1{
	width: 529px;
	height: 291px;
	float: right;
	
}
.jie-left1 p{
	font-size: 14px;
	line-height: 20px;
    color: rgb(68, 68, 68);
}
/* 介绍结束 */
/* 最后开始 */
.zui-box{
	width: 100%;
	height: 207px;
	background:rgb(246, 165, 159);
}
.zuibox{
	width: 1100px;
	height: 207px;
	margin: 0 auto;
	padding-top: 50px;
}
.zui-top{
	width: 437px;
	margin: 0 auto;
	height: 33px;
    text-align: center;
}
.zui-top p,.zui-top span{
	font-size: 14px;
	line-height: 33px;
	float: left;
	color:rgb(255, 204, 206);
	
    font-weight: 800;
}
.zui-top span{
	margin: 0 20px;
	color:#ffccce;
}
.zui-center{
	width: 1100px;
	height: 1px;
	background:rgb(255, 204, 206);
	margin-top: 20px; 
}
.zui-botton{
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color:rgb(255, 204, 206);
	margin-top: 20px;
}
/* 最后结束 */